<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VUE JS</title>
</head>

<body>
  <div id="app">
    <h1 v-once>{{ title }}</h1>
    <p>{{ seyHello() }}
      <a v-bind:href="link">google</a>
    </p>
    <p>{{ finishedLink }}</p>
    <p v-html="finishedLink"></p>
  </div>

  <hr>

  <div id="app2">
    <button v-on:click="increse(2, $event)">click me</button>
    <button v-on:click="counter++">counter++</button>
    <p>{{ counter }}</p>
    <p>{{ counter * 2 }}</p>
    <p v-on:mousemove="updateCoordinates">
      Coordinates: {{ x }}/ {{y}} -
      <span v-on:mousemove.stop="">DEAD SPOT</span>
      -
      <span v-on:mousemove.pervent="">DEAD SPOT</span>
    </p>
    <input type="text" v-on:keyup.enter="alertMe" />
  </div>

  <hr>

  <div id="app3">
    <input type="text" v-model="name" />
    <p>{{ name }}</p>
  </div>

  <hr>

  <div id="app4">
    <button v-on:click="counter++">counter++</button>
    <button v-on:click="counter--">counter--</button>
    <button v-on:click="secondCounter++">secondCounter++</button>
    <p>counter {{ counter }} | {{ secondCounter }}</p>
    <p>result {{ result() }} | {{ myOutput }}
    </p>
  </div>

  <hr>

  <div id="app5">
    <ul>
      <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} {{ i }}</li>
    </ul>
    <template v-for="(ingredient, index) in ingredients">
      <h2>{{ ingredient }}</h2>
      <p>{{ index }}</p>
    </template>
    <ul>
      <li v-for="person in persons">
        <span v-for="(value, key, index ) in person"> {{ key }}: {{ value }} ({{ index }})</span>
      </li>
    </ul>

    <span v-for="n in 10"> {{ n }} </span>
  </div>
  <hr>
  <hr>
  <hr>
  <div id="app6">
    <h1>{{ title }}</h1>
    <button v-on:click="show" ref="myButton">Show partghpt</button>
    <p v-if="showParagrph">this paragrph is alweys visible</p>
    </p>
  </div>

  <div id="app7">
    <h1>{{ title }}</h1>
    <button v-on:click="onChange">Show sominitng in Vue 1</button>
    <hello></hello>
    <hello></hello>
    <hello></hello>
  </div>

  <div id="app8"></div>

  <div class="hello"></div>

  <div id="app9">
    {{ title }}
    <button @click="title = 'changed!'">Update title</button>
    <button @click="destroy">Destroy</button>
  </div>

  <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
</body>

</html>